.one{
	
	height: 2cm;
	background-color:rgb(200,300,150);
}
ol li{
	float: left;
	list-style: none;
	width:5cm;
	height:2cm;
	margin-top:0.5cm;
	text-transform: uppercase;
	color: blue;
}
a{
	text-decoration: none;	
}
ol li hover li{
	background-color:green;

}
.menu{
	font-size:20px;
	width:35.7cm;
	height:1.5cm;
	font-family:arial;
	background-color:lightgray;
	margin-top:-0.5cm;


}
.logo{
	height: 2cm;
	width: 5cm;
}
.two{
	background-color:green;
	 width:34.5cm;
	 height: 3cm;
	 margin-top:30cm;
	 margin-left:0cm;
}
p{
	margin-top:10cm;
}
fieldset{
	width:20cm;
	background-color:orange;
}
.class{
margin-top:-2cm;
width:800px

}

}
.footer{
	color:black;
	margin-left:4cm;
}
.verite{
	position: relative;
	text-align: center;
	color:white;
	margin-top:-3cm;
	margin-left:13.5cm;
	height:500px;
	width: 500px;

}
.text{
	margin-top:-3cm;
	margin-left: 3cm;
}
.text:hover{
	color:lightblue;
	font-family:cursive;
	font-size:30px;
	margin-top:-6cm;
}
.popo{
	margin-top:-15cm;
	color:white;
	height:500px;
	width: 500px;

}
.text:hover{
	color:black;
	font-family:cursive;
	font-size:30px;
	margin-top:-6cm;
}
.com{
	margin-left:27cm;
	margin-top:-7.5cm;
	color: white;
}
.hard{
	margin-top:2cm;
	color: white;
	height: 500px;
	width: 500px;
}
.prog{
	margin-left:13.5cm;
	margin-top:-13.2cm;
	height:500px
	width:500px;
	color: white;
}
.soft{
	margin-left:27cm;
	margin-top:-12.42cm;
	color: white;
	height: 500px;
	width: 350px;
}
.form{
	font-family:cursive;
	margin-left:-10cm;
	height:2cm;
	width:40cm;
	text-align: center;


}
.detail{
	height:5cm;
	width:10cm;
	background-color:lightgray;
	margin-top:5cm;



}
table{
	background-color:orange

}
.race{
	margin-left:13cm;
	margin-top:-3cm;
	color:white;
}
.racee{
	margin-left:32cm;
	margin-top:-3cm;
	color:white;
}
.comp{
	color: white;

}
footer{
	background-color:lightblue;
	margin-bottom:0%;
	height:3cm;
}
.auto{
	margin-left:-5cm;

}
h5{
	margin-left:15cm;
	margin-top:-2.8cm;
}
h6{
	margin-left:14cm;
	margin-top:2.3cm;
}
.cont{
	margin-left:28cm;
	margin-top:-3.7cm;
}